<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="/css/custom.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<body>
<div th:replace="fragments/header.html :: header ('theme')"></div>

<div th:class="container-root-layout">

    <div th:class="container-column">
        <div th:replace="fragments/search.html :: search"></div>
        <div th:class="container-content">
            <div th:class="container">
                <h3 th:text="'테마 : '+ ${theme.themeName} ">Theme (Ticker)</h3>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${favoriteCheck == false}" style="font-size: large">
                        <button class="btn icon-btn" type="button"
                                th:onclick="|location.href='@{/favorite/add/theme?themeId={themeId}(themeId=${theme.id})}'|">
                            <img class="small-img" src="/images/empty-hearts.svg">
                        </button>
                    </div>
                    <div th:unless="${favoriteCheck == false}" style="font-size: large">
                        <button class="btn icon-btn" type="button"
                                onclick="deleteLike()">
                            <img class="small-img" src="/images/fill-hearts.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div th:class="container">
                <h5 th:text="' 전날대비 평균상승률 : '+${theme.themeAverageChangeRate.averageChangeRate}"></h5>
            </div>
        </div>
        <div th:class="container">
            <div th:class="container-content">
                <h5>관련 종목</h5>
                <div class="table-scroll">
                    <table class="styled-table total-table">
                        <thead>
                        <tr>
                            <th>관련 종목</th>
                            <th>전날대비</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="active-row" th:each="ts : ${themeStock}">
                            <td><a th:href="@{/search(category='companyName', keyword=${ts.stock.companyName})}" th:text="${ts.stock.companyName}"></a></td>
                            <td th:text="${ts.stock.stockPriceNow.changeRate}"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <form th:class="container">
            <select th:class="select-period" id="periodSelect" onchange="filterTable()">
                <option value="1">1 Day</option>
                <option value="3" >3 Days</option>
                <option value="7">7 Days</option>
                <option value="30" selected>30 Days</option>
            </select>
        </form>

        <div th:class="container">
            <div th:class="container-content">
                <h5> 테마 관련 종목 블로그 언급 순위</h5>
                <table id="tableBody" class="styled-table total-table">
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 60%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">

                    </colgroup>
                    <thead>
                    <tr>
                        <th>랭킹</th>
                        <th>종목명</th>
                        <th>언급</th>
                        <th>기간</th>
                        <th>전날대비</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr  class="table-row active-row"  th:each="ea : ${eachThemeAggregates}">
                        <td th:text="${ea.ranking}"></td>
                        <td><a th:href="@{/search(category='companyName', keyword=${ea.stock.companyName})}" th:text="${ea.stock.companyName}"></a></td>
                        <td th:text="${ea.cnt}"></td>
                        <td th:text="${ea.period}" class="period"></td>
                        <td th:text="${ea.stock.stockPriceNow.changeRate}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:class="container-content">
            <div id="chart" style="width:100%; height:400px;"></div>
        </div>


        <!-- Stock Blogs Section -->
        <div th:class="container-content">
            <h5>테마 Blogs</h5>
            <div th:each="blog : ${themeBlogs.content}" class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="${blog.title}">Blog Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${blog.header}">Blog Header</h6>
                    <a th:href="${blog.href}" class="card-link" target="_blank">Read more</a>
                    <div class="text-muted" th:text="${blog.date}">Blog Date</div>
                </div>
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination" style="justify-content: center">
                    <li class="page-item" th:classappend="${themeBlogs.hasPrevious()} ? '' : 'disabled'">
                        <a class="page-link" th:href="@{/theme(theme=${theme.id}, page=${themeBlogs.number - 1}, size=${themeBlogs.size})}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${themeBlogs.number > 2} ? '' : 'd-none'">
                        <a class="page-link" th:href="@{/theme(theme=${theme.id}, page=${0}, size=${themeBlogs.size})}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${themeBlogs.number > 3} ? '' : 'd-none'">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, themeBlogs.totalPages - 1)}"
                        th:if="${i >= themeBlogs.number - 2} and ${i <= themeBlogs.number + 2}"
                        th:classappend="${themeBlogs.number == i} ? 'active'">
                        <a class="page-link" th:href="@{/theme(theme=${theme.id}, page=${i}, size=${themeBlogs.size})}"
                           th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${themeBlogs.number < themeBlogs.totalPages - 4} ? '' : 'd-none'">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item" th:classappend="${themeBlogs.number < themeBlogs.totalPages - 3} ? '' : 'd-none'">
                        <a class="page-link" th:href="@{/theme(theme=${theme.id}, page=${themeBlogs.totalPages - 1}, size=${themeBlogs.size})}" th:text="${themeBlogs.totalPages}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${themeBlogs.hasNext()} ? '' : 'disabled'">
                        <a class="page-link" th:href="@{/theme(theme=${theme.id}, page=${themeBlogs.number + 1}, size=${themeBlogs.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        
        
        <div th:class="container-content">
            <div th:class="container-column">
                <h3 th:text="${commentList.size()} + '개의 댓글'"></h3>
                <hr/>
                <form class="form-group" th:object="${categoryCommentCreateRequest}"  th:method="post" th:action="|@{/comments/theme/{id} (id=${theme.id})}|">
                    <div style="text-align: right">
                        <!-- 로그인 했을 때 -->
                        <div sec:authorize="isAuthenticated()">
                            <textarea rows="3" th:field="*{body}" placeholder="댓글을 입력해 주세요" style="width: 100%"/>
                            <button class="login-button" type="submit">댓글 추가</button>
                        </div>
                        <!-- 로그인 안 했을 때 -->
                        <div sec:authorize="isAnonymous()">
                            <textarea rows="3" th:field="*{body}" placeholder="로그인한 유저만 댓글을 작성할 수 있습니다" style="width: 100%" readonly/>
                        </div>
                    </div>
                </form>
                <hr/>
                <div th:each="comment : ${commentList}" th:align="center">
                    <form class="card" style="width: 100%" th:object="${categoryCommentCreateRequest}" th:method="post"
                          th:action="|@{/comments/theme/{id}/{commentId}/edit(id=${theme.id},commentId=${comment.id})}|">
                        <div class="card-body" style="text-align: left;">
                            <div>
                                <div class = "box-row" style="float: left">
                                    <div class="font-bold box-pr box-br" th:text="${comment.user.nickname}"></div>
                                    <div class="box-pl" th:text="${#temporals.format(comment.createdAt, 'yy/MM/dd HH:mm')}"></div>
                                </div>
                                <div th:if="${comment.user.loginId == loginUserLoginId}" style="float: right;">
                                    <button type="submit" class="btn edit-btn" style="width: fit-content; margin: 0px;">수정</button>
                                    <button type="button" class="btn edit-btn" style="width: fit-content; margin: 0px;"
                                            th:onclick="|location.href='@{/comments/theme/{id}/{commentId}/delete(id=${theme.id},commentId=${comment.id})}'|">삭제</button>
                                </div>
                                <div th:unless="${comment.user.loginId == loginUserLoginId}" sec:authorize="hasAuthority('ADMIN')" style="float: right;">
                                    <button type="button" class="btn edit-btn" style="width: fit-content; margin: 0px;"
                                            th:onclick="|location.href='@{/comments/theme/{id}/{commentId}/delete(id=${theme.id},commentId=${comment.id})}'|">삭제</button>
                                </div>
                            </div>

                            <div th:if="${comment.user.loginId == loginUserLoginId}">
                            <textarea rows="3" class="card-text" th:text="${comment.body}" id="body" name="body"
                                      style="margin-bottom: 10px; width: 100%"></textarea>
                            </div>
                            <div th:unless="${comment.user.loginId == loginUserLoginId}">
                                <textarea rows="3" class="card-text" th:text="${comment.body}" style="margin-bottom: 10px; width: 100%" readonly></textarea>
                            </div>
                        </div>
                    </form>
                    <br/>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', (event) => {
        filterTable(); // 페이지가 로드될 때 필터링 함수 실행
    });
    function deleteLike() {
        if (confirm("즐겨찾기를 취소 하시겠습니까?") == true) {
            location.href = "/favorite/delete/theme?themeId="+[[${theme.id}]];        }
    };

    function filterTable() {
        let selectedPeriod = document.getElementById('periodSelect').value;
        const rows = document.querySelectorAll('.table-row');

        // 선택된 period가 없을 때 기본적으로 '7'을 사용
        if (selectedPeriod === "") {
            selectedPeriod = "7";
        }

        rows.forEach(row => {
            const period = row.querySelector('.period').textContent.trim(); // 공백 제거 추가
            if (period === selectedPeriod) {
                row.style.display = ''; // 보이도록 설정
            } else {
                row.style.display = 'none'; // 숨기도록 설정
            }
        });
    }
    /*<![CDATA[*/
    var data = /*[[${dateThemeAggregates}]]*/ [];
    var chartData = data.map(item => [Date.parse(item.date), item.cnt]);

    Highcharts.chart('chart', {
        chart: {
            type: 'line'
        },
        title: {
            text: '테마 블로그 언급수'
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: '날짜'
            }
        },
        yAxis: {
            title: {
                text: '언급수'
            }
        },
        series: [{
            name: '언급수',
            data: chartData
        }]
    });
    /*]]>*/
</script>